doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Chat App 
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        h1 Chat App
        ul(id="chat")
        form(id="chat-form")
            input(type="text", id="message")
            button(type="submit") Send
        
        script(src="/public/js/client.js")